@model List<CryptoPortfolioService_WebRole.Models.CurrencyPairListItem>
@{
    ViewBag.Title = "CryptoCurrencies";
}

<h2>CryptoCurrencies</h2>


<table class="table">
    <tr>
        <th>Symbol1</th>
        <th>Symbol2</th>
        <th>Min Price</th>
        <th>Max Price</th>
    </tr>

    @{
        foreach (var pairs in Model)
        {
            <tr>
                <td>@pairs.Symbol1</td>
                <td>@pairs.Symbol2</td>
                <td>@pairs.MinPrice</td>
                <td>@pairs.MaxPrice</td>
                <td><button><a href="/Crypto/CurrencyDetails?symbol1=@pairs.Symbol1&symbol2=@pairs.Symbol2&minPrice=@pairs.MinPrice&maxPrice=@pairs.MaxPrice">Details</a></button></td>
            </tr>
        }
    }
</table>
